.logo{
    margin-left: 20px;
    height: auto;
    width: 130px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover  .dropdown-content
{
    display: block;
}

@font-face {
    font-family: 'TT Norms';
    src: url('fonts/TTNorms-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: white;
            font-family: 'Poppins', sans-serif;
            position: flex;
    
}
nav{
    display: flex;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: white;
}
nav ul{
    display: absolute;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-top: 5px;
    padding-right: 35px;
}
nav ul li a{
    position: relative;
    text-decoration: none;
    color: black;
}

nav ul li a::after{
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition : 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer > div {
    padding: 30px 30px;
}

h1, p {
    text-align: center;
}
table {
            border-collapse: collapse;
            background-color: #d8f3dc; 
        }
thead td{
    background-color:lightgray;
    text-align:center;
}
        th, td {
            border: 2px solid black; 
            padding: 10px;
            text-align: left;
        }
        tbody {
            background-color: white;
        }
        thead th {
            color:white;
            background-color: red;
        }
        tfoot td {
            background-color: skyblue;
            text-align: center;
        }
