
@font-face {
    font-family: 'TT Norms';
    src: url('fonts/TTNorms-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --box-background : #f1f1f1;
}
form{
    margin-bottom: 20px;
}
#search-form{
    width: 300px; 
    height: 30px; 
    border-radius: ;
    font-size: 16px;
}
#search-submit{
    padding: 10px 15px;
    background-color: var(--box-background);
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;;
}
table{
    border-collapse: collapse;
    padding: 20px;
    width: 100%;
}
table, th, td{
    border: 1px solid black;
}
table td{
    text-align: left;
    padding-left: 10px;
}
.logo{
    margin-left: 20px;
    height: auto;
    width: 140px;
}
.dropdown{
    position: relative;
    display: inline-block;
    z-index: 999;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: var(--box-background);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover  .dropdown-content
{
    display: block;
}


  
body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    height: 100%;
    width: 100%;
}
main{
    padding: 100px;
}
nav{
    display: flex;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: white;
    z-index: 10;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav ul li{
    
    display: inline-block;
    margin-top: 5px;
    padding-right: 35px;
}
nav ul li a{
    position: relative;
    text-decoration: none;
    color: black;
}

nav ul li a::after{
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition : 0.5s;
}
 nav ul li a:hover::after{
    width: 100%;
}
footer{
    left: 0;
    bottom: 0;
    width: 100%;
}

footer > div {
    
    text-align: center;
    color: black;
    padding: 15px;

}





